<% if @article.errors.any? %>
  <% @article.errors.full_messages.each do |error| %>
  <p><%= error %></p>
  <% end %>
<% end %>

<%= form_for [@category,@article] do |form|%>
  <%= form.label :title %>
  <%= form.text_field :title %>

  <i><%= form.label :description %></i>
  <%= form.text_field :description %>

  <i><%= form.label :author %></i>
  <%= form.text_field :author %>

  <i><%= form.label :contact_email %></i>
  <%= form.email_field :contact_email %>

  <%= form.submit %>

<% end %>